/* AuthForm.module.css */

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

label {
    margin-left: 2em;  /* 添加左边距 */
    padding: 0;        /* 确保没有内边距 */
    font-size: 16px;
    width: calc(100% - 4em)
}

.authTabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    flex-direction: row;
    height: 50px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s;
    color: black;
}

.tab:hover {
    color: #f2711c;
}

.activeTab {
    border-bottom-color: #f2711c;
    color: #f2711c;
    font-weight: bold;
}

.required {
    color: red;
}
