.customNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px !important; /* 或者您希望的任何其他高度 */
}

.navbarStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

.customButton {
    border-radius: 20px !important;
    font-weight: bold !important;
}
